.toggle-category {
  .hamburger-category {
    @apply cursor-pointer active:scale-90;
  }

  .category {
    @apply fixed top-0 -left-full h-svh w-full max-w-xs z-40 invisible bg-bgLight opacity-0;
    transition: all 0.4s ease;
    .category-header {
      @apply flex items-center justify-between p-4;
      h2 {
        @apply text-h2;
      }
      button:hover {
        @apply scale-110;
      }
    }
    &.enter {
      @apply left-0 visible opacity-100;
    }

    &.exit {
      @apply -left-full opacity-0;
    }
    .category-content {
      @apply p-4 overflow-y-scroll h-[95svh];
      &-item {
        @apply flex flex-col w-full;
        .item {
          @apply flex items-center;
          .item-content {
            @apply flex-grow text-h3 py-4;
          }
        }
        .sub-category {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.5s ease;
          &.active {
            max-height: 400px;
            transition: max-height 1s ease;
          }
          &-item {
            @apply flex items-center ml-4;
            .item-content {
              @apply flex-grow py-4 hover:pl-2;
            }
          }
        }

        .icon-toggle-sub {
          @apply cursor-pointer p-2 text-h3 hover:scale-125;
          transform: rotateX(0deg);
          transition: 0.5s ease;

          &.active {
            transform: rotateX(180deg);
          }
        }
      }
    }
  }

  .toggle-overlay {
    @apply fixed top-0 left-0 right-0 bottom-0 opacity-0 z-30;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 0.2s linear;
    &.enter {
      opacity: 1;
    }

    &.exit {
      opacity: 0;
    }
  }
}
