.home-page {
  @apply bg-red-400;
  .hero {
    width: 100%;
    max-width: 1920px;
    aspect-ratio: 2.8;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    @include md {
      flex-direction: column;
    }
    .hero-swiper {
      width: 100%;
      max-width: 64%;
      height: 100%;
      .mySwiper {
        height: 100%;
      }
    }
    .banner-hero {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: 100%;
      gap: 0.5rem;
      &-item {
        height: calc(50% - 0.25rem);
        background: white;
        position: relative;
        overflow: hidden;

        &:hover {
          .img-desc {
            scale: 1.2;
            transition: 2s ease;
          }
        }
        .content {
          .desc {
          }
          .heading {
          }
          a {
          }
        }
        .img-desc {
          position: absolute;
          bottom: -12%;
          right: -12%;
          width: 50%;
          height: 100%;
          transition: 2s ease;

          img {
            object-fit: contain;
          }
        }
      }
    }
  }
}
