.header-center {
  .bs-icon {
    @apply text-h2;
  }
  .layout {
    @apply flex items-center justify-between py-8;
    &-left {
      @apply flex items-center gap-[var(--spacing-large)];
    }
    &-center {
      @apply w-full;
      .search-layout {
        @apply flex justify-center w-full;
        .search-box {
          @apply w-full px-4 py-3 max-w-[60%] text-[var(--font-size-body)];
          border: 1px solid var(--global-palette1);
          border-radius: 0.5rem 0 0 0.5rem;
          &:focus-visible {
            @apply outline-none;
          }
        }
        .btn-search {
          @apply px-4 text-[var(--global-palette2)] uppercase font-semibold;
          background: var(--global-palette1);
          border-radius: 0 0.5rem 0.5rem 0;
          &:hover {
          }
          &:active {
          }
        }
      }
    }
    &-right {
      @apply flex items-center;
      .hambuger-nav {
        @include min-sm {
          @apply hidden;
        }
      }
    }
  }
}
