:root {
  --font-family-primary: "Roboto", sans-serif;

  /* Font Sizes */
  --font-size-h1: 36px;
  --font-size-h2: 28px;
  --font-size-body: 16px;
  --font-size-small: 14px;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
