:root {
  /* Primary Colors */
  --color-primary: #3a3a3a; /* Màu nền chính */
  --color-secondary: #ffffff; /* Màu nền phụ (trắng) */
  --color-accent: #f4b400; /* Màu nhấn (vàng) */

  /* Text Colors */
  --color-text-primary: #333333; /* Màu chữ chính */
  --color-text-secondary: #888888; /* Màu chữ phụ */
  --color-text-accent: #f4b400; /* Màu chữ nhấn */

  /* Border Colors */
  --color-border: #eaeaea; /* Màu viền chung */

  /* Background Colors */
  --global-palette1: #e05c0b;
  --global-palette2: #ffffff;
  --global-palette3: #000000;
  --global-palette4: #616161;
  --global-palette5: #ffd800;
  --global-palette6: #e5e5e5;
  --global-palette7: #f2f2f2;
}
