:root {
  /* Primary Colors */
  --color-primary: #3a3a3a; /* Màu nền chính */
  --color-secondary: #ffffff; /* Màu nền phụ (trắng) */
  --color-accent: #f4b400; /* Màu nhấn (vàng) */

  /* Text Colors */
  --color-text-primary: #333333; /* Màu chữ chính */
  --color-text-secondary: #888888; /* Màu chữ phụ */
  --color-text-accent: #f4b400; /* Màu chữ nhấn */

  /* Border Colors */
  --color-border: #eaeaea; /* Màu viền chung */

  /* Background Colors */
  --color-background-light: #f9f9f9; /* Nền sáng */
  --color-background-dark: #1a1a1a; /* Nền tối */
}
