@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables/index.scss";
@import "./ultils/index.scss";
@import "./responsive.scss";
@import "./components/index.scss";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
